<ul class="main-navigation">
{% if page.title == nil %} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/index.html">Home</a></li></div><div class="spacer"></div>
    {% if page.title == 'Blog Archive'%} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/blog/archives/index.html">Archives</a></li></div><div class="spacer"></div>
</ul>
  {% comment %}
    <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  {% endcomment %}